In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [17]:
df = pd.read_csv(r'E:\VScode\Credit_Card_Defaulter_Predict_TSD\notebooks\data\cleaned_data.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Payment_default
0,1,-1.135512,0.811083,0.259747,-1.072132,-1.244325,1.791873,2,-1,-1,...,0.0,0.0,0.0,-0.340993,-0.225468,-0.295690,-0.307347,-0.314553,-0.293444,1
1,2,-0.365937,0.811083,0.259747,0.858058,-1.027242,-0.876018,2,0,0,...,3272.0,3455.0,3261.0,-0.340993,-0.211998,-0.238809,-0.243696,-0.314553,-0.180174,1
2,3,-0.596810,0.811083,0.259747,0.858058,-0.158912,0.013279,0,0,0,...,14331.0,14948.0,15549.0,-0.249370,-0.190343,-0.238809,-0.243696,-0.248953,-0.010269,0
3,4,-0.904640,0.811083,0.259747,-1.072132,0.166712,0.013279,0,0,0,...,28314.0,28959.0,29547.0,-0.220278,-0.167864,-0.227433,-0.237331,-0.244427,-0.236809,0
4,5,-0.904640,-1.232920,0.259747,-1.072132,2.337536,-0.876018,0,-1,0,...,20940.0,19146.0,19131.0,-0.220278,1.333383,0.273118,0.265508,-0.269355,-0.254989,0

In [20]:
df1 =df[['LIMIT_BAL', 'SEX', 'MARRIAGE', 'EDUCATION', 'AGE','PAY_0', 'BILL_AMT1', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6','Payment_default'
]]

In [21]:
df1

,LIMIT_BAL,SEX,MARRIAGE,EDUCATION,AGE,PAY_0,BILL_AMT1,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Payment_default
0,-1.135512,0.811083,-1.072132,0.259747,-1.244325,1.791873,-0.641203,-0.340993,-0.225468,-0.295690,-0.307347,-0.314553,-0.293444,1
1,-0.365937,0.811083,0.858058,0.259747,-1.027242,-0.876018,-0.657981,-0.340993,-0.211998,-0.238809,-0.243696,-0.314553,-0.180174,1
2,-0.596810,0.811083,0.858058,0.259747,-0.158912,0.013279,-0.296016,-0.249370,-0.190343,-0.238809,-0.243696,-0.248953,-0.010269,0
3,-0.904640,0.811083,-1.072132,0.259747,0.166712,0.013279,-0.054075,-0.220278,-0.167864,-0.227433,-0.237331,-0.244427,-0.236809,0
4,-0.904640,-1.232920,-1.072132,0.259747,2.337536,-0.876018,-0.577089,-0.220278,1.333383,0.273118,0.265508,-0.269355,-0.254989,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29596,0.403638,-1.232920,-1.072132,1.667430,0.383794,0.013279,1.880775,0.172045,0.610911,-0.011115,-0.113404,0.013446,-0.236809,0
29597,-0.135065,-1.232920,0.858058,1.667430,0.817959,-0.876018,-0.671597,-0.230116,-0.102595,0.216123,-0.299136,-0.314553,-0.293444,0
29598,-1.058555,-1.232920,0.858058,0.259747,0.166712,3.570466,-0.645946,-0.340993,-0.255309,0.955688,-0.040014,-0.183353,-0.117876,1
29599,-0.673767,-1.232920,-1.072132,1.667430,0.600876,0.902576,-0.716957,4.843705,-0.107662,-0.228685,-0.184756,3.159872,-0.191274,1
29600,-0.904640,-1.232920,-1.072132,0.259747,1.143583,0.013279,-0.041277,-0.215570,-0.177350,-0.214351,-0.243696,-0.248953,-0.236809,1

In [22]:
## Independent and dependent features

X = df1.drop(labels=['Payment_default'],axis=1)
Y = df1[['Payment_default']]

In [23]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [24]:
rfm = RandomForestClassifier(n_estimators=20,oob_score=True,n_jobs=1,random_state=42,max_features=None,min_samples_leaf=10)
rfm.fit(X_train,y_train)
rfm_y_pred = rfm.predict(X_test)
print(f"Accuracy Score: {accuracy_score(rfm_y_pred,y_test)}")

Accuracy Score: 0.8210787073527755

In [25]:
print('F1 Score: %.3f' % f1_score(y_test, rfm_y_pred))

F1 Score: 0.473

In [26]:
input_data = (-1.1355123246073677,1,1,2,-1.244324652307965,0,-0.4849654557394294,-0.1478490176807232,-0.25530939085407756,-0.21036893766203657,-0.3073466366887242,-0.20631337304146,-0.29344381171848527,)

# Reshape the input data to a 2D array with a single row
input_data_reshaped = np.reshape(input_data, (1, -1))

# Make a prediction on the reshaped input data
prediction = rfm.predict(input_data_reshaped)

# Check the predicted value and print the corresponding label
if prediction[0] == 0:
    print('Not default')
else:
    print('Default')

Default

In [27]:
### saving the model
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(rfm, f)

In [29]:
with open("model.pkl", "rb") as f:
    model = pickle.load(f)